body {
    background-image: url(../assets/images/leaves-pattern.png);
}

.everythingWrapper {
    background-image: url(../assets/images/leaves-pattern.png);
    height: 100vh;
    padding-top: 20px;
    border-top: 1px solid #aaa;
}

#mainphoto {
    width: 100%;
    margin-bottom: 20px;
}

#myName {
    background-color: #4aaaa5;
    color: white;
    width: 25%;
    display: inline-block;
    text-align: center;
    border: solid #4aaaa5 10px;
    margin: 0px;
    min-width: 200px;
}

.stickyFooter {
    border-bottom: 1px solid #aaa;
}

.CNT {
    background: white;
    border: solid 1px #aaa;
    padding: -50px -50px;
}

.navbar {
    /* border-bottom: solid 1px #aaa; */
    background: white !important;
}

footer {
    background: grey !important;
    border-top: solid #4aaaa5 5px !important;
    text-align: center;
    color: white;
}

.navbar-brand {
    background: #4aaaa5;
    border: 10px solid #4aaaa5;
    color: white !important;
}

.AboutMe {
    color: #4aaaa5;
}

.divider {
    margin-top: 3%;
}

.banner {
    bottom: 30px;
    left: 0px;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    bottom: 10%;
    position: relative;
    width: 300px;
    margin-bottom: -30px;
}

.form-group {
    color: black;
}

.col {
    width: 200px;
    height: 200px;
}

.img-thumbnail {
    background-size: cover;
    position: sticky;
    width: 300px;
    height: 300px;
}